In [4]:
name='hamdan'
age=23
print("Name:{},age:{}".format(name,age))#using formating
#using f string
print(f"Name:{name},Age:{age}")

Name:hamdan,age:23
Name:hamdan,Age:23

In [5]:
name='hamdan'
age=23
print("hello world",12344)
print("hello world",1234,sep='$')
print(name,age)
print(name,age,sep="|")

hello world 12344
hello world$1234
hamdan 23
hamdan|23

In [7]:
a="hamdan"
b=1234
c=12.3
d=[a,b,c]
e={a,b,c}
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>
<class 'set'>

In [8]:
#seq statement
a=1
b=3
c=a-b
print(c)

-2

In [15]:
x=5
y=0
if x < y:
    print('yes') 
else:
        print('No')

No

In [16]:
x=5
y=0
if x or y:
    print('yes')

yes

In [18]:
a=20
b=21
c=23
if a<b:
    if a>c:
        print("a value is big")
    else:
            print("c value is big")

c value is big

In [20]:
raining=False
print("Lets go to ",'beach'if not raining else'library')

Lets go to  beach

In [23]:
age=22
s='minor'if age<21 else 'adult'
s

'adult'

In [25]:
x=y=z=30
a=1+x if x>y else y+2
a

32

In [27]:
a=30
while a>0: a-=1;print(a)

29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [42]:
for i in range(2,30,2):
 print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28

In [37]:
age=int(input("enter your age"))
name=input("enter your name")
currentage=2024-age
print(name)
print(age)
print(currentage)

enter your age20
enter your namehamdan
hamdan
20
2004

In [39]:
h=float(input("enter your height"))
centimeters=h*2.54
print(centimeters)

enter your height6.1
15.494

In [59]:
list=[2,3,4,5,6,7]
print(list[-5:])

[3, 4, 5, 6, 7]

In [60]:
list=["appLe","banana","cherry"]
if "banana" in list:
    print("present in list")

present in list

In [61]:
list=["appLe","banana","cherry"]
print(list)
list[1]="blackberry"
print(list)

['appLe', 'banana', 'cherry']
['appLe', 'blackberry', 'cherry']

In [63]:
list=["appLe","banana","cherry"]
print(list)
list[1:-3]=["cherry","orange"]
print(list)

['appLe', 'banana', 'cherry']
['appLe', 'cherry', 'orange', 'banana', 'cherry']

In [65]:
square=[x*x for x in range(1,11,2)]
print(square)

[1, 9, 25, 49, 81]

In [66]:
even=[x for x in range(1,11) if x%2==0]
print(even)

[2, 4, 6, 8, 10]

In [68]:
def func(list):
    for i in list:
        print(i)
list=[1,2,3,4,5]
func(list)

1
2
3
4
5

In [73]:
a=int(input("enter number"))
if a>0:
    print("positive")
elif a<0:
        print("negative")
else:
    print("zero")

enter number0
zero

In [85]:
n=int(input("enter number"))
fact=1
if n== 0:
    print("iNvalid")
elif n==1:
    print('1')
else:
    while n>1:
        fact=fact* n
        n=n-1
        print("factorial:" ,fact)

enter number3
factorial: 3
factorial: 6

In [92]:
num=int(input("enter number"))
flag=False
if num==1:
    print("it is not a prime number")
elif num > 1:
    for i in range(2,num):
        if(num % i)== 0:
            flag=True
            break
        if flag:
            print(num,"not a prime number")
        else:
                print(num,"is an prime number")

enter number5
5 is an prime number
5 is an prime number
5 is an prime number

In [98]:
i=int(input("enter number"))
sum=0
for i in range(1,i + 1):
    sum=sum+i
    print(sum)

enter number3
1
3
6

In [99]:
n=int(input('year'))
if n%4==0:
    print(n,'leap year')
else:
    print(n,'not a leap year')

year2024
2024 leap year

In [103]:
a=int(input('number'))
for i in range(1,11):
    print(a*i)

number3
3
6
9
12
15
18
21
24
27
30

In [ ]:
while True:
    print("\nOptions:")
    print("1. Addition")
    print("2. Subtraction")
    print("3. Multiplication")
    print("4. Division")
    print("5. Exit")
choice = input("Enter your choice (1/2/3/4/5): ")
if choice == '5':
    print("Exiting the calculator.")
    break
elif choice in ('1','2','3','4'):
    num1=int(input("enter num1"))
    num2=int(input("enter num2"))
    if choice=='1':
        print("addition",num1+num2)
    elif choice=='2':
        print("subtraction",num1-num2)
    elif choice=='3':
        print("multiplication",num1*num2)
    elif choice=='4':
        if num==0:
            print("invalid")
        else:
            print("division",num2/num1)
else:
     print("Invalid input! Please enter a valid option.")

In [ ]:
print("Welcome to Simple Calculator!")

while True:
    print("\nOptions:")
    print("1. Addition")
    print("2. Subtraction")
    print("3. Multiplication")
    print("4. Division")
    print("5. Exit")

    choice = input("Enter your choice (1/2/3/4/5): ")

    if choice == '5':
        print("Exiting the calculator.")
        break
    elif choice in ('1', '2', '3', '4'):
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        if choice == '1':
            print("Result:", num1 + num2)
        elif choice == '2':
            print("Result:", num1 - num2)
        elif choice == '3':
            print("Result:", num1 * num2)
        elif choice == '4':
            if num2 == 0:
                print("Error! Division by zero is not allowed.")
            else:
                print("Result:", num1 / num2)
    else:
        print("Invalid input! Please enter a valid option.")